<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upsa.mimo.v2021.fitup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@drawable/fituplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fituplogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitUp">
        <activity android:name="es.upsa.mimo.v2021.fitup.ui.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.register.RegisterActivity"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.detail.DetailActivity"/>
        <activity android:name=".ui.categories.CategoryExercisesActivity"/>
        <activity android:name=".ui.trainingLists.exercises.TrainingListsExercisesActivity"/>
        <activity android:name=".ui.trainingLists.create.CreateTrainingListActivity"/>
    </application>

</manifest>